<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:hardwareAccelerated="false">
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <application android:label="@string/app_name" android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:hardwareAccelerated="false">
    <service android:name="juloo.keyboard2.Keyboard2" android:label="@string/app_name" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true" android:directBootAware="true">
      <intent-filter>
        <action android:name="android.view.InputMethod"/>
      </intent-filter>
      <meta-data android:name="android.view.im" android:resource="@xml/method"/>
    </service>

    <activity android:name="juloo.keyboard2.ComposeSettingsActivity" android:icon="@mipmap/ic_launcher" android:theme="@style/composeAppTheme" android:exported="false" android:directBootAware="true" android:hardwareAccelerated="true"/>

    <activity android:name="juloo.keyboard2.ComposeVoiceInputSettingsActivity" android:icon="@mipmap/ic_launcher" android:theme="@style/composeAppTheme" android:exported="false" android:directBootAware="true" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize"/>

    <activity android:name="juloo.keyboard2.ComposeLauncherActivity" android:icon="@mipmap/ic_launcher" android:theme="@style/composeAppTheme" android:exported="true" android:directBootAware="true" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name="juloo.keyboard2.dict.ComposeDictionariesActivity" android:icon="@mipmap/ic_launcher" android:theme="@style/composeAppTheme" android:exported="false" android:directBootAware="true" android:hardwareAccelerated="true"/>
  </application>

  <!-- To query enabled input methods for voice IME detection -->
  <queries>
    <intent>
      <action android:name="android.view.InputMethod" />
    </intent>
  </queries>
</manifest>
